/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
    color: #333;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    width: 100vw;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
}

.logo img {
    display: block;
    transform: translate(-25px);
    
}

.search-bar {
    background-color: #f6eeee;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    width: 782px;
    border-radius: 12px;
    padding: 2px;
    outline: none;
  
    
}
.search-bar input[type="search"] {
    padding: 12px;
    border: none;
    border-radius: 2px 0 0 2px;
    width: 300px;
    background-color: transparent;
    padding: 9px;
    border: none;
    margin: 3px;
    width: 777px;
    outline: none;
    font-size: 19px;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}
    

.search-bar button {
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 16px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 471px;
}

.nav-item {
    position: relative;
    margin-left: 20px;
}

.nav-item a {
    display: inline-block;
    margin-left: 5px;
    color: #413a3a;
    font-size: 16px;
}

.nav-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.nav-item:hover .dropdown {
    display: block;
    overflow: hidden;
}

.nav-item .dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
}

.nav-item .dropdown a:hover {
    background-color: #f1f3f6;
}

.nav-item img {
    vertical-align: middle;
    transition: none;
}

/* Adjust padding for the dropdown items */
.nav-item .dropdown a {
    padding: 10px;
}

/* Ensure proper styling for login dropdown */
.nav-item.login .dropdown {
    min-width: 200px;
    right: -20px;
}

.itemList{
    width: 250px;
    text-wrap: nowrap;
    transform: translate(-65px);
    text-align: left;
}
.signUp{
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.signUp span {
    color: #000;
    text-wrap: nowrap;
}
.signUp button{
    color: #2a55e5;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    border: none;
    font-weight: bold;
    font-size: 15px;
    transform: translate(-20px);
    cursor: pointer;
}

.signUp .new{
    transform: translate(-12px);
    text-wrap: nowrap;
    font-weight: bold;
    align-items: center;

}

.category-nav {
    font-family: Arial, sans-serif;
}

.category-nav {
    background-color: #f8f8f8;
    padding: 10px 0;
    margin-top: 9px;
    width: 100vw;
}

.category-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.category-nav li {
    text-align: center;
}

.category-nav a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100px;
    transition: color 0.3s;
}

.category-nav a:hover {
    color: #2874f0;
}

.category-nav img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.category-nav span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-wrap: nowrap;
}

.dropimg {
    display: flex;
    align-items: center;
    
  }
  
  .dropimg img {
    /*width: 50px; /* Adjust the width as needed */
   /* height: auto; /* Maintain aspect ratio */
    /* margin-left: 10px; /* Adjust the spacing between text and logo */
    width: 21px;
    height: 21px;
    margin: 0;
    PADDING: 0;
    transform: translate(53px, -16px);
    overflow: hidden;
    
}




  
.gallery-container {
    position: relative;
    width: 100%;
    
  }
  
  .image-gallery {
    display: flex;
    overflow-x: auto; /* Add this */
    scroll-snap-type: x mandatory;
    width: 100%; /* Update this */
    background-size: cover;
}
  
  .image-gallery img {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .dot-container {
    display: flex;
    justify-content: center;

  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transform: translateY(-25px);
  }
  
  .dot.active {
    background-color: #333;
  }
  
  .arrow-container {
    position: absolute;
    top: 50%; /* Update this */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    transform: translateY(-50%); /* Add this */
}
  
  .arrow {
    cursor: pointer;
    font-size: 40px; /* Increase font size for larger arrows */
    color: #460a0a; /* Darker color for arrows */
    background-color: #fff;

  }
  

.container {
    width: 86%;
    max-width: 1359px;
    margin: 20px 40px;
    height: 343px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.title a {
    text-decoration: none;
    color: #000;
}

.deals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 21px;
}

.deal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: calc(100% / 6 - 20px);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.deal img {
    width: 100%;
    display: block;
    height: 211px;
}

.deal p {
    margin: 10px 0;
    font-size: 14px;
}

.deal:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.anotherbox .deals{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 10px;
    width: 95vw;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}







.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    padding-left: 35px;
}

.grid-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item:hover {
    transform: scale(1.05);
}








.container-Promo-Banner {
    display: flex;
    justify-content: space-between;
    padding: 37px;
    width: 103%;
}

.left-column, .right-column {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right : 15px;
}

.left-column .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.right-column {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.left-column h2 {
    grid-column: span 2;
    margin-bottom: 20px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item p {
    margin: 10px 0 5px;
    font-weight: bold;
}

.item span {
    color: green;
}

.promo-banner {
    width: 100%;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.promo-banner img {
    width: 70%;
    border-radius: 10px;
}

.promo-banner h2 {
    margin: 10px 0;
    font-size: 24px;
}

.promo-banner p {
    margin: 10px 0;
    font-size: 16px;
}

.promo-banner button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.promo-banner button:hover {
    background-color: #004c99;
}









footer {
    background-color: #333;
    color: white;
    padding: 20px 15px;
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    padding: 20px 0; /* Adjust the padding as needed */
    border-bottom: 1px solid #555;
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the footer-top section */
}

.footer-column {
    width: 15%;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column p {
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 25px;
    width: 1335px;
}

.footer-bottom-links {
    display: flex;
    justify-content: space-between;
    width: 40%; /* Adjust the width as needed */
}

.footer-bottom-links a {
    color: #FFD700;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom-links a:hover{
    text-decoration: underline;
}

.footer-bottom-info {
    display: flex;
    align-items: center;
}

.footer-bottom-info span {
    margin-right: 20px;
    font-size: 14px;
}

.footer-payment-options {
    display: flex;
}

.footer-payment-options img {
    width: 238px;
    margin-right: 4px;
    transform: translate(119px);
}

html{
    width: 1421px;
}




@media (max-width: 764px) {
    header{
        width: 430vw;
        height: 15vh;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .logo img{
        width: 45vh;
        aspect-ratio: auto 160 / 40;
        height: 20vw;
        transform: translate(-98vw);
    }
    body{
        width: 390px;
    }

    .nav-links {
        display: flex;
        text-wrap: nowrap;
    }

    .nav-container {
        justify-content: space-between;
    }

    .search-bar {
        display: none;
    }

    .nav-item.login {
        display: inline-block;
    }

    .arrow-container{
        display: none;
    }

    .category-nav {
        display: none;
    }

    .image-gallery {
        display: flex;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        width: 461vw;
        transform: translate(-460px);
    }

    .gallery-container {
        position: relative;
        width: 1vw;
        max-width: 579px;
        margin: -5px 258px;
    }
    .ad{
        display: none;
    }


    .arrow-container {
        position: absolute;
        top: 45%;
        width: 100%;
        width: calc(135% - -665px);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    .deals{
        display: flex;
        width: 100px;
    }

    .deal {
        flex: 0 0 calc(123% / 2 - -7px);
        max-width: calc(100% - 20px);
    }

    .deal:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 400vw;
        padding-left: 35px;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .container-Promo-Banner {
        display: flex;
        justify-content: space-between;
        padding: 37px;
        width: 400vw;
    }


    footer {
        background-color: #333;
        color: white;
        padding: 20px 15px;
        width: 400vw;
    }

    .footer-top {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-bottom {
        width: 380vw;
    }

    .footer-bottom-links {
        width: 100%;
        justify-content: flex-start;
        margin-top: 17px;
        gap: 25px;
    }
    .footer-bottom-info {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        transform: translate(-100px, 10px);
    }


    .-dOa_b XdYXb{
        display: none;
    }
}




/* @media (min-width: 768px) {
    .footer {
        padding: 40px 0;
    }

    .footer-top {
        padding: 40px 0;
    }

    .footer-column {
        width: 20%;
    }

    .footer-bottom {
        padding: 30px 40px;
    }
} */

/* Media query for screens larger than 1200px */
/* @media (min-width: 1200px) {
    .footer {
        padding: 60px 0;
    }

    .footer-top {
        padding: 60px 0;
    }

    .footer-column {
        width: 25%;
    }

    .footer-bottom {
        padding: 40px 60px;
    }
} */